body {
  margin: 20px;
  width: 100%;
}

  .wrapper {
    display: inline-grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, [col] 300px ) ;
    grid-template-rows: repeat(2, [row] auto  );
    background-color: #fff;
    color: #444;

  }

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 14px;
    border-radius: 30px;

  }

  .a {
    grid-column: col / span 2;
    grid-row: row;

  }

  .b {
    grid-column: col  3/ span 2;
    grid-row: row;
  }

  .c {
    grid-column: col / span 2;
    grid-row: row 2;
  }

  .d {
    grid-column:  col  3/ span 2;
    grid-row: row 2;
  }

  .e {
    grid-column: col / span 2;
    grid-row: 3;
  }

  .f {
    grid-column: col 3 / span 2;
    grid-row: 3;
  }

  .g {
    grid-column: col / span 2;
    grid-row: 4;
  }

  .h {
    grid-column: col 3 / span 2;
    grid-row: 4;
  }

  .i {
    grid-column: col / span 2;
    grid-row: 5;
  }

  .j {
    grid-column: col 3 / span 2;
    grid-row: 5;
  }

  .k {
    grid-column: col / span 4;
    grid-row: 6;
  }
  .rightside {
    text-align: end;
  }
  .nobullets {
        list-style-type: none;
  }
  h2 {
    text-align: center;
    font-size: 45px;
    color: blue;
  }
  h4 {
    font-size: 22px;
  }
  .rarity {
    color: orange;
  }
  .size {
    color: green;
  }
  .other {
    color: red;
  }
  .alignment {
    color: purple;
  }
  .bold {
    font-weight: bolder;
    color: skyblue;
  }
