* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: grid;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat(4, 200px);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
}
.item {
    padding: .1em;
    color: white;
    font-family: Verdana, sans-serif;
    font-size: 5em;
    text-align: center;
    text-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
}
.itemA {
    background-color: crimson;
    grid-column: 1 / span 4;
    grid-row: 1 / 2;

}
.itemB {
    background-color: indigo;
    grid-column: 1 / span 2;
    grid-row: 2 /  span 1;
}
.itemC {
    background-color: navy;
    grid-column: 3 / span 1;
    grid-row: 2 / auto;
}
.itemD {
    background-color: darkgreen;
    grid-column: 1 / span 2;
}
.itemE {
    background-color: saddlebrown;
    grid-column: 3 /auto;;
}
.itemF {
    background-color: black;
    grid-column: 1 / span 4;
}
